.popup {
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 2;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  border-radius: 10px;
  width: 430px;
  height: 330px;
  padding: 35px;
}

@media screen and (max-width: 750px) {
  .popup {
    width: 250px;
    height: 322px;
  }
}