.place {
  margin: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 361px;
  width: 282px;
}

@media screen and (max-width: 500px) {
  .place {
    width: 100%;
    height: 100%;
  }
}